*{
    padding: 0;
    margin: 1px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif; 
    border: 10px;
    color: #fff;
}
.landing{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(-45deg, rgba(15, 78, 16, 0.863), rgba(7, 82, 8, 0.836)), url(./yale-university-1604158_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav a .logo{
    letter-spacing: 3px;
}
nav a{
    display: block;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: white;

}

.nav-links{
    flex: 2;
    text-align: right;
    width: 50px;   
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
    
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.nav-links ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    margin: auto;
    display: block;
    background-color: #cff0ad;
    transition: 0.5s ease-out;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.burger div{
    width: 25px;
    height: 2px;
    margin: 4px;
    background-color: #fff;
    border-radius: 4px;transition: all 0.5s ease;
}
.burger{
    display: none;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
    width: 80%
}
.hero h1{
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
}
.hero p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin: 20px 0 40px;
}


button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    background: transparent;
    /* backdrop-filter: blur(4px); */
    border: 1px solid #fff;
    cursor: pointer;
    overflow: hidden;
    
}

.fa-solid{
    display: none;
}
 
span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .8s linear infinite;
}

@keyframes animate{
    0%{
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}
@media(max-width: 950px){
    .hero h1{
     font-size: 40px;
    }
    .hero{
        margin-top: 40vh;
    }
}
@media(max-width: 700px) {
    .landing{
        overflow-x: hidden;
    }
    button{
        padding: 10px 26px;
        font-size: 12px;
    }
    .hero h1{
    font-size: 35px;
    }
    .hero p{
    font-size: 15px;
    line-height: 20px;
    margin: 30px 5px 60px;
    }
    .hero{
    width: 90%;
    margin: 0% auto;
    margin-top: 33vh;
    }
    .nav-links{
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: 50%;
    height: 89vh;
    top: 56px;
    right: 0;
    position: absolute;
    z-index: 3;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
    .nav-active{
        transform: translateX(0);

    }
    .nav-links ul li{
        display: block;
        margin-top: 43px;
        opacity: 0;
    }
    .nav-links ul{
        padding: 0 30px;
    }
    .nav-links ul li a{
        font-weight: 600;
    }
    .nav-links ul li::after{
        display: none;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    
    
}
/* @media(max-width: 400px) {
    .hero h1 {
        font-size: 22px;
    }
} */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 4px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -4px);
}
